.modal_background {
    background-color: rgba(0, 0, 0, 0.5); /* Define a cor do fundo e a transparência */
    position: fixed; /* Isso cobre a tela inteira mesmo quando a página é rolada */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Garante que o modal apareça acima do conteúdo restante */   
}

.modal_container * {
    background-color: rgb(28, 0, 92);
    border: 0 solid transparent;
    padding: 10px;
    animation: fade 0.5s;
}

.modal_titulo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.btn_cadastrar {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0px solid transparent;
    background-color: green;
}

.btn_cadastrar:hover {
    cursor: pointer;
    background-color: rgb(54, 233, 54);
}

.btn_fechar{
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0px solid transparent;
    background-color: crimson;
}

.btn_fechar:hover{
    cursor: pointer;
    background-color: rgb(233, 75, 106);
}

.modal_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}