.modal_background {
    background-color: rgba(0, 0, 0, 0.5); /* Define a cor do fundo e a transparência */
    position: fixed; /* Isso cobre a tela inteira mesmo quando a página é rolada */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Garante que o modal apareça acima do conteúdo restante */   
}

.modal_container {
    animation: fade 0.5s;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 0px 30px 20px 30px;
    max-height: 800px;
}

.modal_container * {
    border: 0 solid transparent;
    padding: 10px;
}

.modal_titulo {
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.vendedor{
    display: flex;
    flex-direction: row;
}
.itens{
    display: flex;
    flex-direction: row;
}