.modal_background {
    background-color: rgba(0, 0, 0, 0.5); /* Define a cor do fundo e a transparência */
    position: fixed; /* Isso cobre a tela inteira mesmo quando a página é rolada */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Garante que o modal apareça acima do conteúdo restante */   
}

.modal_container {
    animation: fade 0.5s;
    /* background-color: rgb(28, 0, 92); */
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0px 30px 20px 30px;
}

.modal_container * {
    border: 0 solid transparent;
    padding: 10px;
}

.modal_titulo {
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* FORMS */

.form{
    width: 600px;
}

.select_form {
    border-radius: 4px;
    box-sizing: border-box;
}

.input_form {
    /* background-color: rgb(28, 0, 92); */
    background-color: #ffffff;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    /* border: 5px solid yellow; */
}

.required {
    color: red;
}




/* BOTÕES */

.btn_cadastrar {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0px solid transparent;
    background-color: green;
    color: white;
}

.btn_cadastrar:hover {
    cursor: pointer;
    background-color: darkgreen;
}

.btn_fechar{
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0px solid transparent;
    background-color: crimson;
    color: white;
}

.btn_fechar:hover{
    cursor: pointer;
    background-color: darkred;
}

.modal_footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
