.estoque{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5rem;
}

.cabecalho{
    display: flex;
    align-items: center;
}

.filtro{
    align-self: center;
    height : 40px ;
    width : 40px ;
    transition : all .3s ease ;
    border-radius: 100%;
    border-style: groove;
    border-color: #242424;
    border-width: 0px;
}
.filtro:hover{
    background-color: #d2d2d2b4;
}

.pesquisa{
    padding: 2rem;
}
.pesquisa input{
    padding: 0.25rem 0.5rem;
    border: none;
}

.barraPesquisa{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    border: 1px solid #242424;
}

.estoqueGrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 2rem;
    justify-self: center;
}

.addButton {
    margin-bottom: 2rem;
}
