.equipe{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5rem;
}

.cabecalho{
    display: flex;
    align-items: center;
}

.filtro{
    align-items: center;
    height : 40px ;
    width : 40px ;
    transition : all .3s ease ;
    border-radius: 100%;
    border-style: groove;
    border-color: #242424;
    border-width: 0.1px;
}
.filtro:hover{
    background-color: #d2d2d2b4;
}

.pesquisa{
    padding: 2rem;
}
.pesquisa input{
    padding: 0.25rem 0.5rem;
    border: none;
}

.barraPesquisa{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    border: 1px solid #242424;
}

.listaEquipe{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.tableHeader {
    align-items: center;
}

.tr{
    background-color: rgb(64, 0, 94);
    align-items: center;
}
.td{
    width: 150px;
    border-collapse: collapse;
}

.actions_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actions_btn {
    border: 0cm;
}

.create_btn {
    background-color:green;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border: 0cm solid white;
    border-radius: 5px;
}

.create_btn:hover{
    background-color: darkgreen;
}

.btn_div {
    display: flex;
    flex-direction: row; 
    align-items: center;
}